<html>

    <head>
        <title>Currency</title>
    </head>
        <body>

            {% if current_currency %}
                {% for currency in current_currency %}

                    <table>

                        <tr>
                         <th scope="col">USD</th>
                         <th scope="col">EUR</th>
                         <th scope="col">CKZ</th>
                         <th scope="col">PLN</th>
                        </tr>
                        <tr>
                         <td>{{ currency.usd_cost }}</td>
                         <td>{{ currency.euro_cost }}</td>

                         <td>{{ currency.czk_cost }}</td>
                         <td>{{ currency.pln_cost }}</td>
                        </tr>
                    </table>
                    <p>Last update: {{ currency.pub_date }} </p>
                {% endfor %}
            {% else %}
                <p>No data are available.</p>
            {% endif %}

        </body>
</html>

